* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
}

header h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 32px;
}

main {
  background-color: hsl(30, 38%, 92%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

article {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  overflow: hidden;
}

picture {
  width: 50%;
}

picture img {
  max-width: 100%;
  display: block;
}

.content {
  width: 50%;
  padding: 30px;
}

.content .perfume {
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 14px;
}

.content h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  font-size: 32px;
  padding: 20px 0;
}

.content p {
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
}

.content .price {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content .price .new-price {
  font-size: 32px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  margin-right: 16px;
  font-family: "Fraunces", serif;
}

.content .price .old-price {
  font-size: 12px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-family: "Fraunces", serif;
}

.content button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}

.content button:hover {
  background-color: hsl(158, 36%, 22%);
}

.content .cart-icon {
  margin-right: 8px;
}

@media screen and (max-width: 632px) {
  picture {
    width: 100%;
  }

  .content {
    width: 100%;
    padding: 30px;
  }
}
